* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html, body {
  background: -webkit-linear-gradient(270deg, #2EC4B6, #9EB1E9);
  background: linear-gradient(180deg, #2EC4B6, #9EB1E9);
  font-family: 'Nunito', sans-serif;
}
body h3, body h4{
  color:#fff;
  text-align: center;
}
input::-webkit-input-placeholder {
color: #A4A4A4 !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #A4A4A4 !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #A4A4A4 !important;  
}
 
input:-ms-input-placeholder {  
color: #A4A4A4 !important;  
}
/* Login page*/
.login {
  padding: 15px;
  width: 400px;
  min-height: 400px;
  margin: 20% auto 0 auto;
}
.login form .input-group {
  border-bottom: 1px solid #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.login form .input-group:last-of-type {
  border-top: none;
}
.login form .input-group span {
  background: transparent;
  min-width: 53px;
  border: none;
}
.login form .input-group span i {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.8);
}
.login form input.form-control {
  display: block;
  width: auto;
  height: auto;
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  border-radius: 0px;
  padding: 10px;
  font-size: 1.6em;
  width: 100%;
  background: transparent;
  color: #fff;
}
.login form input.form-control:focus {
  border: none;
}
/*Game Page*/
.myUsername {
  font-size: 1.3em;
  padding-bottom:1em;
  padding-top:1em;
}
.wrap {
  height: 100vh;
  width: 100vw;
  padding-top: 2em;
}
.container h1 {
  margin: 0.5em auto;
  color: #FFF;
  text-align: center;
}

.chatbox {
  background: #FAFAFA;
  width: 600px;
  height: 500px;
  border-radius: 0.2em;
  position: relative;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}
.chatbox__messages{
  overflow-y: scroll;
}
.chatbox__messages__user-message {
  width: 380px;
}

.chatbox__messages__user-message--ind-message {
  background: #43d3c5;
  padding: 0.5em 0.5em;
  height: auto;
  width: 70%;
  border-radius: 5px;
  margin: 0.5em auto;
  float:right;
  color:#fff;
}
.chatbox__messages__user-message--ind-message > p.name {
  color: #fff;
  font-size: 1em;
  text-align:left;
}
.chatbox__messages__user-message--ind-message > span.message {
  color: #111;
  font-size: 0.8em;
  margin: 0 2.8em;
}
.chatbox__user-list {
  background: #43d3c5;
  width: 30%;
  height: 100%;
  float: right;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}
.public{
  padding-top: 0.7em;
}
.public:hover{
  color:#111;
}

.chatbox__user, .chatbox__user--active {
  width: 100%;
  height: 3em;
  text-align:center;
  vertical-align: middle;
  cursor:pointer;
  color:#fff;
}
.dropdown-menu{
  color:#111;
}

.btn-group{
  width: 100%;
  height: 3em;
}
.user-btn{
  width: 100%;
  height: 3em;
  background: transparent;
}
.chatbox__user--active {
  background: #33A095;
}
.chatbox p {
  text-align: center;
  font-size:1.1em;
  font-weight: 300;
  color: #fff;
}
.chatbox form {
  background: #222;
}
.chatbox form input {
  background: #FAFAFA;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top:1px solid #424242;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 70%;
  padding: 1.2em;
  outline: none;
  color: #424242;
  font-weight: 300;
}

.board {
  position: relative;
  margin: 0 auto;
  border: 1px #fff solid;
  font-family: 'Cabin Sketch', cursive;
  color:#fff;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
}

.board td {
  table-layout: fixed;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 250%;
  border: 1px #fff solid;
}
.dialog{
  z-index:9999;
  position:fixed;
  top:20%;
  left:60%;
  width:300px;
  height:200px;
  background: #fff;
}
.dialog p{
  color:#000;
  text-align: center;
  font-size: 1.3em;
}
body .modal-footer{
  text-align: center;
}
.game-request{
  margin: 2em auto; 
  text-align: left;
  width: inherit;
  display: inline-block;
}
.whisper{
  background: #33A095;
  padding: 0.5em 0.5em;
  height: auto;
  width: 70%;
  border-radius: 5px;
  margin: 0.5em auto;
  margin-left: 1.5em;
  float:left;
  color:#fff;
}
.time{
  font-size: 0.9em;
  color:#fff;
}

.stat-message {
  background-color: green;
  color: #fff;
  box-shadow: 2px 2px 20px black;
  font-size: 1.5em;
  margin-top: 15px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}
.stat-message div {
  padding: 10px;
  border-bottom: 1px solid white;
}
.stat-message div:last-child {
  border-bottom: none;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}