* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html, body {
  background: -webkit-linear-gradient(270deg, #2EC4B6, #9EB1E9);
  background: linear-gradient(180deg, #2EC4B6, #9EB1E9);
  font-family: 'Nunito', sans-serif;
}

.login {
  padding: 15px;
  width: 400px;
  min-height: 400px;
  margin: 20% auto 0 auto;
}
.login form .input-group {
  border-bottom: 1px solid #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.login form .input-group:last-of-type {
  border-top: none;
}
.login form .input-group span {
  background: transparent;
  min-width: 53px;
  border: none;
}
.login form .input-group span i {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.8);
}
.login form input.form-control {
  display: block;
  width: auto;
  height: auto;
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  border-radius: 0px;
  padding: 10px;
  font-size: 1.6em;
  width: 100%;
  background: transparent;
  color: #fff;
}
.login form input.form-control:focus {
  border: none;
}
.myUsername {
  font-size: 1.3em;
  padding-bottom:1em;
  padding-top:1em;
}
.wrap {
  height: 100vh;
  width: 100vw;
  padding-top: 2em;
}
.container h1 {
  margin: 0.5em auto;
  color: #FFF;
  text-align: center;
}

.chatbox {
  background: rgba(255, 255, 255, 0.05);
  width: 600px;
  height: 500px;
  border-radius: 0.2em;
  position: relative;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}
.chatbox__messages__user-message {
  width: 350px;
  overflow-y: scroll; 
}

.chatbox__messages__user-message--ind-message {
  background: rgba(255, 255, 255, 0.2);
  padding: 1.5em 1em;
  height: auto;
  width: 70%;
  border-radius: 5px;
  margin: 0.7em auto;
  float:right;
}
.chatbox__messages__user-message--ind-message > p.name {
  color: #fff;
  font-size: 1.2em;
}
.chatbox__messages__user-message--ind-message > span.message {
  color: #fff;
  font-size: 1em;
  margin: 0 2.8em;
}
.chatbox__user-list {
  background: rgba(255, 255, 255, 0.1);
  width: 35%;
  height: 100%;
  float: right;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}
.chatbox__user-list h1 {
  background: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.5em;
  padding:1em 0.05em;
  margin: 0;
  font-weight: 300;
  text-align: center;
}
.chatbox__user, .chatbox__user--active, .chatbox__user--busy {
  width: 0.5em;
  height: 0.5em;
  border-radius: 100%;
  margin: 1.1em 0.5em;
  cursor:pointer;
}
.chatbox__user--active {
  background: rgba(62, 173, 43, 0.8);
}
.chatbox p {
  float: left;
  text-align: left;
  margin: -0.5em 0.9em;
  font-size:1.2em;
  font-weight: 300;
  color: #FFF;
  width: 200px;
}
.chatbox form {
  background: #222;
}
.chatbox form input {
  background: rgba(255, 255, 255, 0.03);
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  width: 65%;
  padding: 1.2em;
  outline: none;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
}
.whisperWarn{
  position :absolute;
  top:0;
  color:#fff;
  text-align: center;
  width:60%;
  padding:0.5em auto;
  background:rgba(0,0,0,0.7);
}
.whisper{
  background: rgba(255, 255, 255, 0.2);
  padding: 1.5em 1em;
  height: auto;
  width: 70%;
  border-radius: 5px;
  margin: 0.7em auto;
  float:left;
}
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.board {
  position: relative;
  margin: 0 auto;
  border: 1px #fff solid;
  font-family: 'Cabin Sketch', cursive;
  color:#fff;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
}

.board td {
  table-layout: fixed;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 250%;
  border: 1px #fff solid;
}
.dialog{
  z-index:9999;
  position:absolute;
  background: rgba(255, 255, 255, 0.9);
}
.dialog p{
  color:#000;
}