<div class="chatBlock">
  <div class="chatbox__messages">
    <div class="chatbox__messages__user-message" ng-repeat='message in messages'>
      <div class="chatbox__messages__user-message--ind-message" ng-class='{whisper: message.whisper}'>
        <p class="name">{{message.user}}:<span class="message"> {{message.msg}}</span></p>
      </div>
    </div>
  </div>

  <form class='chatInput' ng-submit='sendMsg($event)'>
    <label class='whisperWarn' ng-show='whisper'>You're sending a message only to {{whisper}}!</label>
    <input type="text" ng-model='message' placeholder="Enter your message">
  </form>
</div>