<div class="dialog challengeRequest" id="myModal" role="dialog" ng-show='ttt.requesting'>
	<div class="modal-body">
		<p ng-show = 'ttt.isReceiver'>Play Request from {{player.sender}}</p>
		<p ng-show = 'ttt.isSender'>Sending request to {{player.target}}, please wait...</p>
	</div>
	<div class="modal-footer text-center">
		<div class="btn-group game-request" role="group" aria-label="Basic example">
			<button type="button" class="btn btn-success" ng-show = 'ttt.isReceiver' ng-click='gameAccept()'>Accept</button>
			<button type="button" class="btn btn-danger" ng-click='gameDecline()' ng-show = 'ttt.isReceiver'>Decline</button>
		</div>
	</div>
</div>
<div class="dialog challengeAccept" role="dialog" ng-show='ttt.reqAccepted || ttt.reqDeclined'>
	<div class="modal-body">
		<div class="requestAccepted" ng-show='ttt.reqAccepted'>
			<p ng-show = 'ttt.isSender'>{{player.target}} accepted your request. Now you move first!</p>
			<p ng-show = 'ttt.isReceiver'>You accepted the request. Now {{player.sender}} move first!</p>
		</div>
		<div class="requestDeclined" ng-show='ttt.reqDeclined'>
			<p ng-show = 'ttt.isSender'>{{player.target}} declined your request :(</p>
			<p ng-show = 'ttt.isReceiver'>You declined the request from {{player.sender}} :(</p>
		</div>
	</div>
	<div class="modal-footer text-center">
		<button type="button" class="btn btn-success" ng-show='ttt.reqAccepted' ng-click='ttt.reqAccepted = false'>Okay</button>
		<button type="button" class="btn btn-success" ng-show='ttt.reqDeclined' ng-click='ttt.reqDeclined = false'>Alright!</button>
	</div>
</div> 

<div class="dialog instructions" id="myModal" role="dialog" ng-show='userService.user.loggedIn && !hideModal'>
	<div class="modal-body">
		<p>Welcome {{userService.user.name}}! Here is some tips about how to test out this app: <br>
			1) Open another tab and login under another nickname( if nobody is online) <br>
			2) To have private messaging with the person you want, just click on his/her nickname and choose "Start Messaging" <br>
			3) To play tic-tac-toe, click on person's nickname and choose "Invite to play"
		</p>
	</div>
	<div class="modal-footer text-center">
		<div class="btn-group game-request" role="group" aria-label="Basic example">
			<button type="button" class="btn btn-success" ng-click = "hideModal=true">Gotcha!</button>
		</div>
	</div>
</div>
